.bge{
    background: url("https://wallpapercave.com/wp/wp2610904.jpg");
background-size: cover;
  }

.abc{
    margin-left: 40%;
    padding-top: 5%;
    
}
.seat{
    height: 30px;
    width: 30px;
    border: 2px solid grey;
    margin: 0px 3px;
    display: flex;
    background-color: blanchedalmond;
    flex-direction: center;
    justify-content: center;
    align-items: space-between;
    font-size: 14px;
}
.seatRow{
    display: flex;
    flex-direction: center;
    margin-bottom: 6px;
}
.selectedSeat{
    background-color: rgb(53, 70, 70);
}
.blockedSeat{
    background-color: grey;
    pointer-events: none;
}