.bge{
   background: url("https://wallpaperaccess.com/full/2988500.jpg");
background-size: cover;
  }

.movie_poster{
    width: 100px;
}

.movieDetail{
    border: 1px solid rgb(12, 15, 12);
    margin: 10px 2px;
    padding: 8px;
    cursor: pointer;
}
